.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;

    gap: 24px;

    grid-area: experience;

    p {
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: var(--text-secondary);
        text-align: center;
    }

    .tech {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .stack{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 18px;
        max-width: fit-content;
        align-items: center;
    }

    @media (min-width: 768px) {
        align-items: flex-start;

        p {
            font-size: 20px;
            line-height: 28px;
            text-align: start;
        }

        .tech {
            align-items: flex-start;
        }

        .stack {
            align-items: flex-start;
            gap: 0.75rem;
        }
    }
}